
                <footer>
                    <hr> Made with &hearts; by Andrew Fischer, &copy; 2011-
                    <script>
                        document.write(new Date().getFullYear())
                    </script>. Proudly hosted by &nbsp;<a href="http://www.github.com/" class="fa fa-github-alt fa-lg"></a>
                </footer>
            </div>
        </div>

    </div>

    <!-- Eventually, serve fonts locally -->
    <script src="//use.typekit.net/sow2jyc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <script src="{{"/js/fittext.js" | prepend: site.baseurl}}" type="text/javascript"></script>
    <script src="{{"/js/script.js" | prepend: site.baseurl}}" type="text/javascript"></script>
</body>
<!-- © 2011-2015 Andrew Fischer -->

</html>
