header {
  padding-bottom: 50px;
  padding-top: 15px;
}

body {
  font-family: "museo", serif;
  font-style: normal;
  font-weight: 300;
}

a, a:visited {
  transition: all 350ms ease; 
  color: #FF6C49;
}

a:hover {
  transition: all 350ms ease; 
  text-decoration: none;
  color: #777;
}

.row:not(:first-child) {
    padding-top: 25px;
}

.content-label {
  padding: 0;
  text-align: right;
}

.content-label span {
  font-weight: 500;
  border-bottom: 1px solid #000;
}

.content {
  padding-left: 20px;
  padding-right: 25px;
  text-align: justify;
  word-wrap: break-word;
  -webkit-word-wrap: break-word;
  -ms-word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.content ul {
  list-style-type: none;
}

.work, .project {
  padding-bottom: 10px;
  line-height: 1;
}

.time {
  font-size: 80%;
  font-weight: 100;
  font-style: italic;
  color: #777;
}

.download-link {
  padding-top: 10px;
}