header {
  padding-bottom: 0;
  padding-top: 15px;
}

body {
  font-family: "museo", serif;
  font-style: normal;
  font-weight: 300;
}

h2:first-of-type {
  color: #555;
  text-decoration: none;
  font-size: 60px;
  line-height: 1;
  text-shadow: #EDEDED 1px 1px 0;
  position: relative;
}
h2:first-of-type:after {
  content:"Andrew Fischer";
  position: absolute;
  left: 3px;
  top: 3px;
}
h2:first-of-type:after {
background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #aaa 25%, #aaa 50%, transparent 50%, transparent 75%, #aaa 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}
a, a:visited {
  transition: all 350ms ease; 
  color: #FF6C49;
}

a:hover {
  transition: all 350ms ease; 
  text-decoration: none;
  color: #777;
}

.container:last-child {
  padding-bottom: 50px;
}
.row:not(:first-child) {
    padding-top: 25px;
}

.content-label {
  padding: 0;
  text-align: right;
}

.content-label span {
  font-weight: 500;
  border-bottom: 1px solid #000;
}

.content {
  padding-left: 20px;
  padding-right: 25px;
  text-align: justify;
  word-wrap: break-word;
  -webkit-word-wrap: break-word;
  -ms-word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.work, .project {
  padding-bottom: 10px;
  line-height: 1;
}

.time {
  font-size: 80%;
  font-weight: 100;
  font-style: italic;
  color: #777;
}

.download-link {
  padding-top: 10px;
}

@media (max-width: 750px) {
  .content {
    padding-left: 25px;
  }
  
  .content-label {
    margin-right: -8px;
    margin-left: 8px
  }
}