body {
  background:#f8f8f8;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:auto;
  white-space: nowrap;
}


.top {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:auto;
  white-space: nowrap;
}
